<%= simple_form_for [@patient, @medical_record] do |f| %>
  <% if @medical_record.errors.full_messages.any? %>
    <% @medical_record.errors.full_messages.each do |error_message| %>
      <p class="alert alert-danger"><%= error_message %> <br/>
      </p>
    <% end %>
  <% end %>
  <div class="card card p-3 bg-light card-body ">
    <%= f.input :patient_bp, placeholder: 'Enter patient bloop pressure' %>
    <%= f.input :patient_weight, placeholder: 'Enter patient weight' %>
    <%= f.input :lab_test, placeholder: 'Patient tests with respect to dieases' %>
    <%= f.input :dieases, placeholder: "Enter dieases....  " %>
    <%= f.input :dieases_detail, placeholder: "Describe the seriousness of dieases" %>
    <%= f.input :lab_test_results, placeholder: "What are the results of Lab tests" %>
    <div class="d-flex justify-content-center m-3">
      <%= f.submit "Create Medical Record", class: "btn btn-success" %>
<% end %>
</div>
</div>
