<h1>Medical History</h1>
<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col-1">BloodPressure</th>
    <th scope="col-1">PatientWeight</th>
    <th scope="col-3">Lab-test</th>
    <th scope="col-2">Dieases</th>
    <th scope="col-4">Dieases-Details</th>
    <th scope="col-1">Test-Results</th>
  </tr>
  </thead>
  <% @patient.medical_records.each do |patients| %>
    <tbody>
    <tr>
      <td><%= patients.patient_bp %></td>
      <td><%= patients.patient_weight %></td>
      <td><%= patients.lab_test %></td>
      <td><%= patients.dieases %></td>
      <td><%= patients.dieases_detail %></td>
      <td><%= patients.lab_test_results %></td>
    </tr>
    </tbody>
  <% end %>
</table>
<div class="card card p-3 bg-light card-body"><h1>Current Medical Report</h1></div>
<div class="mt-4 p-5 bg-light text-dark rounded shadow p-3 mb-5 bg-body rounded">
  <ul class="list-group list-group-flush d-grid gap-3">
    <li class="list-group-item fw-bold">
      <div class="row">
        <div class="col-3"><h6>PatientBloodPressure:</h6></div>
        <div class="col-9"><h6><%= @medical_record.patient_bp %></h6></div>
      </div>
    </li>
    <li class="list-group-item fw-bold">
      <div class="row">
        <div class="col-3"><h6>PatinetWeight:</h6></div>
        <div class="col-9"><h6><%= @medical_record.patient_weight %></h6></div>
      </div>
    </li>
    <li class="list-group-item fw-bold">
      <div class="row">
        <div class="col-3"><h6>Labtest:</h6></div>
        <div class="col-9"><h6><%= @medical_record.lab_test %></h6></div>
      </div>
    </li>
    <li class="list-group-item fw-bold">
      <div class="row">
        <div class="col-3"><h6>Dieases:</h6></div>
        <div class="col-9"><h6><%= @medical_record.dieases %></h6></div>
      </div>
    </li>
    <li class="list-group-item fw-bold">
      <div class="row">
        <div class="col-3"><h6>DieasesDetail:</h6></div>
        <div class="col-9"><h6><%= @medical_record.dieases_detail %></h6></div>
      </div>
    </li>
    <li class="list-group-item fw-bold">
      <div class="row">
        <div class="col-3"><h6>LabtestResult:</h6></div>
        <div class="col-9"><h6><%= @medical_record.lab_test_results %></h6></div>
      </div>
    </li>
  </ul>
  <br><br><br>
  <div class="row">
    <div class="col-4"><%= link_to "Update Medical History", edit_patient_medical_record_path(@patient), class: "btn btn-warning" %></div>
    <div class="col-4"><%= link_to "Back", root_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>