<h1>Registered-patient</h1>
<table>
<tr><td><h3>FirstName:<%=@patient.first_name%></h3></td></tr>
<tr><td><h3>LastName:<%=@patient.last_name%></h3></td></tr>
<tr> <td><h3>Email:<%=@patient.email%></h3></td></tr>
<tr><td><h3>PhoneNumber:<%=@patient.phone_number%></h3></td></tr>
<tr><td><h3>Address:<%=@patient.address%></h3></td></tr>
<tr><td><h3>Dateofbirth:<%=@patient.date_of_birth%></h3></td></tr>
</table>
<%=link_to "Create Appointments",new_patient_appointment_path(@patient) %>