<!DOCTYPE html>
<html>
<head>
  <title>Patientdoc</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "header", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "footer", "data-turbo-track": "reload" %>
  <%= wicked_pdf_stylesheet_link_tag "application", "wickedpdf", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "form", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "login", "data-turbo-track": "reload" %>
  <script
    src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
    crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Patient-Doctor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if !doctor_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="/doctors/sign_in">Login</a>
          </li>

          <!--        <li class="nav-item dropdown">-->
          <!--          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
          <!--            Dropdown-->
          <!--          </a>-->
          <!--          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
          <!--            <li><a class="dropdown-item" href="#">Action</a></li>-->
          <!--            <li><a class="dropdown-item" href="#">Another action</a></li>-->
          <!--            <li>-->
          <!--              <hr class="dropdown-divider">-->
          <!--            </li>-->
          <!--            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
          <!--          </ul>-->
          <!--        </li>-->
        <% else %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/patients/new">Add Patient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/patients">Patient list</a>
          </li>

          </ul>

          </div>
          <%= button_to "Sign-out", destroy_doctor_session_path, method: :delete, class: "btn btn-danger" %>
        <% end %>


        </div>
</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="container">
  <%= yield %>
</div>
<hr>

<footer class="bg-light text-center text-sm-start ">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">PDMS Details</h5>

        <p>
          Would you like a jelly baby? The past is another country. 1987's just the Isle of Wight. Rest is for the
          weary, sleep is for the dead. I feel like a hungry man eager for the feast! There are fixed points throughout
          time where things must stay exactly the way they are. This is not one of them. This is an opportunity!
          Whatever happens here will create its own timeline, its own reality, a temporal tipping point. The future
          revolves around you, here, now, so do good! If you could touch the alien sand and hear the cries of strange
          birds, and watch them wheel in another sky, would that satisfy you?
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">PDMS Details</h5>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
          aliquam voluptatem veniam, est atque cumque eum delectus sint!Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
          aliquam voluptatem veniam, est atque cumque eum delectus sint!

        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="<%root_path %>">www.PatientDoctor.com</a>
  </div>
</footer>

</body>
</html>
